footer {
    @include flex(column nowrap, center, center);
    background: #FDEEED;
    padding: 1rem 0;
    height: 12vh;
    text-align: center;	
    color: $textColor;
    text-transform: uppercase;
    font-size: 1.4rem;
        .mainLogo {
            width: 5rem;
            &:hover,
            &:focus {
                filter: drop-shadow(1.6rem 1.6rem 2rem gray);
                cursor: pointer;
            }
        }
        .footerFlex {
            @include flex(row nowrap, space-between, center);

            span {
                font-size: 2rem;
            }
        }
        a {
            font-size: 1.4rem;
        }
}


.socialIcons {
    display: flex;
    li {
        a {
            color: black;
            padding: 1.2rem;
            transition: .5s ease;
            font-size: 2rem;
            &:hover,
            &:focus {
                transform: scale(1.2);
                color: gray;
                // transition: .5s ease;
                filter: drop-shadow(1.6rem 1.6rem 2rem gray);
            }
        }
    }
}




