footer {
    @include flex(column nowrap, center, center);
    background: #FDEEED;
    padding: 1rem 0;
    height: 12vh;
    text-align: center;	
    color: $textColor;
    text-transform: uppercase;
    font-size: 1.4rem;
        .footerFlex {
            @include flex(row nowrap, space-between, center);
            padding-bottom: 1rem;
        }
}


.socialIcons {
    @include flex(row nowrap, auto, auto);
        a {
            padding: 1.5rem;
            
        }
}


.socialIcons a, 
.footerFlex span {
    font-size: 3rem;
    cursor: pointer;
    transition: .5s ease;
    &:hover,
    &:focus {
        color: #636363;
        filter: drop-shadow(1.6rem 1.6rem 2rem gray);
    }
}


