
 html {
  font-size: 62.5%;
}

/* stripping styles */
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}


body {
  min-width: 320px;
  font-family: $bodyFont;
  font-size: 2rem;
}

ul {
    list-style: none;
  }

a {
  text-decoration: none;
  font-family: $bodyFont;
  color: $textColor;
  cursor: pointer;
  // font-weight: bold;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}

h1,
h2,
h3 {
  font-family: $headingFont;
}

h2 {
  font-size: 3rem;
}

button {
  text-transform: uppercase;
  border: none;
  border-radius: 0.2rem;
  font-family: $headingFont;
  transition: .5s ease;
}
