.navBar {
    width: 90%;
    height: 5vh;
    @include flex(row nowrap, space-between, center);
    position: absolute;
    top: 2rem;
        .menuIcon {
            z-index: 100;
            font-size: 2.5rem;
            cursor: pointer;
        }
        .mainLogo {
            width: 5rem;
            z-index: 100;
        }
}

.navBar.open {
    background-color: #fff;
}


.slidingNav {
    visibility: hidden;
    @include flex(row nowrap, flex-end, center);
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                0 2px 2px rgba(0,0,0,0.11), 
                0 4px 4px rgba(0,0,0,0.11), 
                0 8px 8px rgba(0,0,0,0.11), 
                0 16px 16px rgba(0,0,0,0.11), 
                0 32px 32px rgba(0,0,0,0.11);
    width: 100vw;
    height: calc(5vh + 4rem);
    position: absolute;
    top: 0;
    @media(max-width: 670px) {
        @include flex(row nowrap, center, center);
    }
        ul {
            padding: 2rem 10vw 2rem 0;
            @include flex(row nowrap, flex-end, auto);
            @media(max-width: 670px) {
                @include flex(column nowrap, space-between, center);
                padding: 0;
            }
                a,
                .languageButton {
                    text-transform: uppercase;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        position: relative;
                        background-color: #FDEEED;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                                    0 2px 2px rgba(0,0,0,0.11), 
                                    0 4px 4px rgba(0,0,0,0.11), 
                                    0 8px 8px rgba(0,0,0,0.11), 
                                    0 16px 16px rgba(0,0,0,0.11), 
                                    0 32px 32px rgba(0,0,0,0.11);
                    }
                }
            }

}

@media(max-width: 670px) {
    .slidingNav ul li {
        padding: 1rem 0;
         a {
             font-size: 2.5rem;
         }
    }
}


.slidingNav.open {
    visibility: visible;
    z-index: 100;
    @media(max-width: 670px) {
        height: 100vh;
    }
}