// Projects Section Styles
.projects {
    background-color: white;
    @include flex(column nowrap, center, center);
    padding: 3rem 0;
    margin-bottom: 1rem;
        h2 {
            text-align: center;
        }
}

.project {
    width: 70%;
    margin-top: 2rem;
    @media(max-width: 900px) {
        width: 80%;
     }
    @media(max-width: 768px) {
       width: 90%;
    }
}

.desktopView {
    @include flex(row nowrap, center, center);
    padding-top: 2rem 0 2rem 3.5%;
    img {
        width: 80%;
    }
}



.slider {
    width: 50%;
    @media(max-width: 768px) {
        @include flex(column nowrap, space-between, center);
        height: fit-content;
        width: 100%;
        order: 2;
    }

}

.moody .mobileView,
.moody .desktopView,
.moody .projectDisplay {
    background-color: #F5F5F5;
}

.airClear .mobileView,
.airClear .desktopView,
.airClear .projectDisplay {
    background-color: #F5F5F5;
}

.pT .mobileView,
.pT .desktopView,
.pT .projectDisplay {
    background-color: #F5F5F5;
}



.mobileView {
    width: 100%;
    align-self: stretch;
    @include flex(row nowrap, center, center);
    min-height: fit-content;
    padding-top: 2rem;
        img {
            object-fit: contain;
            align-self: stretch;
        }
}

.projectDisplay {
    margin-top: 2rem;
    width: 100%;
    padding: 5rem 0;
    @include flex(row nowrap, space-between, center);
    height: fit-content;
        @media(max-width: 768px) {
            @include flex(column nowrap, space-between, center);
            height: fit-content;
        }
}



.projectDescription {
    width: 50%;
    padding: 2.9rem;
        p {
            padding: 0.5rem 0;
        }
        @media(max-width: 768px) {
            width: 100%;
            order: 1;
        }
        h3 {
            padding-bottom: 0.5rem;
            font-size: 2.5rem;
        }
        a:not(.projectLink) {
            text-transform: uppercase;
            transition: .5s ease;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
}

.toolKit {
    font-family: $headingFont;
}


.projectLink {
    width: 11rem;
    font-size: 2rem;
    background-color: black;
    text-transform: uppercase;
    padding: 0.8rem;
    display: inline-block;
    margin-top: 1.5rem;
    margin-right: 1.4rem;
    text-align: center;
    border-radius: 0.5rem;
    font-family: $bodyFont;
    transition: .5s ease;
    border: 0.2rem black solid;
    font-weight: bold;
    color: #FDEEED;
    &:hover,
    &:focus {
        box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                    0 2px 2px rgba(0,0,0,0.11), 
                    0 4px 4px rgba(0,0,0,0.11), 
                    0 8px 8px rgba(0,0,0,0.11), 
                    0 16px 16px rgba(0,0,0,0.11), 
                    0 32px 32px rgba(0,0,0,0.11);
    }
    @media(max-width: 768px) {
        margin-right: 2rem;
    }
}
