// Skills Section Styles
.skills {
    background-color: $accent;
    min-height: 35vh;
    padding: 3rem 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
                    0 2px 2px rgba(0,0,0,0.11), 
                    0 4px 4px rgba(0,0,0,0.11), 
                    0 8px 8px rgba(0,0,0,0.11), 
                    0 16px 16px rgba(0,0,0,0.11), 
                    0 32px 32px rgba(0,0,0,0.11);
    @include flex(column nowrap, center, center);
        h2 {
            text-align: center;
            padding-bottom: 2rem;
            font-family: $headingFont;
        }
}

.skillsList {
    column-count: 3;
        li {
            padding: 0.5rem;
        }
        @media(max-width: 768px) {
            column-count: 2;
        }
}