@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$primary: #F5E3E7;
$secondary: white;
$accent: #F5F5F5;
$textColor: black;
$headingFont: 'Noto Serif', serif;
$bodyFont: 'Nunito Sans', sans-serif;
$newFont: 'Cutive Mono', monospace;

