@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

$primary: #637192;
$secondary: #f1f8f8;
$accent: #090446;
$textColor: black;
$headingFont: 'Noto Serif', serif;
$bodyFont: 'Nunito Sans', sans-serif;